In [1]:
import pandas as pd

train = pd.read_csv('../Energy/data/train.csv')
test = pd.read_csv('../Energy/data/test.csv')

train.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65,70
1,1112,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92,210
2,1113,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40,50
3,1114,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67,50
4,1115,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40,250

In [2]:
# Inspect Train set
print (len(train))
inspect_train = pd.DataFrame({'Dtype': train.dtypes, 'Unique values': train.nunique() ,
             'Number of Missing values': train.isnull().sum() ,
              'Percentage Missing': (train.isnull().sum() / len(train)) * 100
             }).sort_values(by='Unique values',ascending = False)
inspect_train
test.shape

15780

(3945, 25)

In [3]:
train.columns

Index([u'Observation', u'T1', u'RH_1', u'T2', u'RH_2', u'T3', u'RH_3', u'T4',
       u'RH_4', u'T5', u'RH_5', u'T6', u'RH_6', u'T7', u'RH_7', u'T8', u'RH_8',
       u'T9', u'RH_9', u'T_out', u'Press_mm_hg', u'RH_out', u'Windspeed',
       u'Visibility', u'Tdewpoint', u'Energy'],
      dtype='object')

In [4]:
train.head()

,Observation,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,Energy
0,1111,22.700000,37.200,21.000000,38.000000,23.390000,37.290000,22.832857,34.942857,20.500000,...,45.360000,20.20,38.663333,12.80,760.050000,62.000000,3.5,28.0,5.65,70
1,1112,21.500000,41.045,20.500000,39.133333,22.926667,39.526667,21.700000,34.126667,18.633333,...,34.663333,19.73,37.933333,8.47,764.166667,48.166667,8.0,26.5,-1.92,210
2,1113,21.666667,38.000,22.600000,35.700000,21.890000,36.590000,22.000000,35.530000,19.000000,...,38.545000,19.79,39.430000,10.60,757.600000,57.000000,2.0,27.0,2.40,50
3,1114,23.290000,38.530,21.671429,38.000000,24.290000,36.200000,23.100000,35.090000,22.042857,...,38.600000,22.60,36.194286,11.60,760.600000,63.000000,1.0,40.0,4.67,50
4,1115,24.000000,42.560,26.830000,34.356000,26.530000,40.333333,24.500000,40.900000,21.500000,...,44.230000,22.60,44.090000,17.70,756.983333,63.000000,1.0,21.5,10.40,250

In [5]:
alldata = pd.concat([train,test])

In [6]:
alldata.shape

(19725, 26)

In [7]:
# Inspect Train set
print (len(alldata))
inspect_train = pd.DataFrame({'Dtype': alldata.dtypes, 'Unique values': alldata.nunique() ,
             'Number of Missing values': alldata.isnull().sum() ,
              'Percentage Missing': (alldata.isnull().sum() / len(alldata)) * 100
             }).sort_values(by='Unique values',ascending = False)
inspect_train

19725

,Dtype,Number of Missing values,Percentage Missing,Unique values
Observation,int64,0,0.0,19725
RH_6,float64,0,0.0,9706
RH_5,float64,0,0.0,7569
RH_8,float64,0,0.0,6646
RH_7,float64,0,0.0,5889
T6,float64,0,0.0,4445
RH_9,float64,0,0.0,3388
RH_2,float64,0,0.0,3374
RH_4,float64,0,0.0,2985
RH_3,float64,0,0.0,2617
RH_1,float64,0,0.0,2547
T5,float64,0,0.0,2263
T8,float64,0,0.0,2228
Press_mm_hg,float64,0,0.0,2189
T7,float64,0,0.0,1954
T2,float64,0,0.0,1649
T3,float64,0,0.0,1425
T4,float64,0,0.0,1390
Tdewpoint,float64,0,0.0,1118
T_out,float64,0,0.0,1055
T9,float64,0,0.0,924
T1,float64,0,0.0,722
RH_out,float64,0,0.0,566
Visibility,float64,0,0.0,412
Windspeed,float64,0,0.0,189
Energy,float64,3945,20.0,82

In [8]:
alldata.drop('Observation', axis=1, inplace=True)

In [9]:
train_feats = alldata[~pd.isnull(alldata.Energy)]
test_feats = alldata[pd.isnull(alldata.Energy)]

In [10]:
X = train_feats.drop(["Energy"], axis=1)
y = train_feats.Energy
y.shape

(15780,)

In [14]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesRegressor, RandomForestRegressor, RandomTreesEmbedding
from sklearn.linear_model import LogisticRegression
import numpy as np
# from xgboost import XGBClassifier
# from lightgbm import LGBMClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_score, r2_score, mean_squared_error

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [125]:
rf = ExtraTreesRegressor(n_estimators=500, random_state=1)

In [126]:
rf.fit(X_train, y_train)

pred_rf = rf.predict(X_test)
print "Extra Trees", mean_squared_error(y_test, pred_rf)**.5

Extra Trees 63.3606268052

In [117]:
#   test_feats.drop(["Energy"], axis=1, inplace=True) 63.47 63.39 63.41

rf.fit(X, y)

pred_rf = rf.predict(test_feats)

In [118]:
pred_rf

array([  49.925     ,   90.04      ,   59.71566667, ...,   87.35766667,
         67.13966667,  190.23266667])

In [119]:
sample=pd.read_csv('../Energy/data/sample_submission.csv')

In [120]:
sample.head()

   Observation  Energy
0        50001      68
1        50002     242
2        50003     117
3        50004     384
4        50005     444

In [121]:
sample.shape

(3945, 2)

In [122]:
sample['Energy']=pred_rf

In [123]:
sample.head()

   Observation     Energy
0        50001  49.925000
1        50002  90.040000
2        50003  59.715667
3        50004  88.275333
4        50005  44.511667

In [124]:
sample.to_csv('one.csv', index=None)